:host {
  background-color: slategray;
  border: 3px darkslategrey inset;
  color: white;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 75vw;
  overflow-y: auto;
  padding: 0.5rem 1.5rem;
}

:host ::ng-deep a {
  color: gold;
  font-weight: 400;
  text-decoration: none;
}
