:host ::ng-deep > div {
  background-color: slategray;
  border: 3px darkslategrey inset;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 75vw;
  overflow-y: auto;
  padding: 0.5rem 1rem;

  [data-hottext] {
    border: 1px dashed aliceblue;
    border-radius: 5px;
  }
}

:host ::ng-deep a {
  color: gold;
  font-weight: 400;
  text-decoration: none;
}

.popupwindow {
  background-color: white;
  border: 6px inset darkgrey;
  color: darkslategrey;
  display: none;
  font-size: 1.1rem;
  font-weight: 600;
  height: fit-content;
  left: 10px;
  padding: 1rem;
  position: absolute;
  top: 10px;
  width: 115x;

  p {
    margin: 0.5rem;

    &:hover {
      background-color: bisque;
      cursor: pointer;
    }
  }
}

.button__close {
  width: 33px;
  height: 33px;

  &:hover {
    cursor: pointer;
  }
}

.topbar {
  display: flex;
  height: 34px;
  justify-content: flex-end;
  background-color: lightgrey;
  margin: -16px -16px 5px -16px;
}

.display {
  display: block;
}
